<div class="min-[1200px]:w-[25%] min-[768px]:w-[50%] w-full px-[12px] mb-[24px]" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="200">
    <div class="bix-services mt-[30px] relative flex flex-col justify-center text-center rounded-[30px] bg-[#edf4b3]">
        <div class="services-image mt-[-30px] flex justify-center relative">
            <div class="inner-image mt-[-7px] p-[20px] relative bg-[#fff] rounded-[50%]">
                <span class="ring h-[60px] w-[60px] m-auto border-[1px] border-solid border-[#111a24] absolute top-[8px] left-[8px] rounded-[50%] inline-block z-[5]"></span>
                <img src="assets/img/services/1.png" alt="services" class="h-[35px] w-[35px] relative z-[1]">
            </div>
        </div>
        <div class="services-contact p-[30px]">
            <h5 class="mb-[14px] font-montserrat text-[18px] text-[#111a24] font-semibold tracking-[0.03rem] leading-[1.2]">Graphics Design</h5>
            <p class="font-montserrat text-[14px] leading-[20px] text-[#111a24] tracking-[0.03rem]">Develop the Visual Identity of Your Business.</p>
        </div>
    </div>
</div>