<nav class="navbar navbar-expand-lg bix-navbar transition-all duration-[0.3s] ease-in-out p-[15px] bg-[#f8f6fc] border-[1px] border-solid border-[#111a24] rounded-[30px] relative z-[3] flex items-center justify-between max-[992px]:flex-nowrap">
    <!-- Header Logo Start -->
    <a class="navbar-brand" href="index.html">
        <img src="assets/img/logo/logo.png" alt="logo" class="bix-logo w-[90px] px-[15px] flex">
        <img src="assets/img/logo/logo-dark.png" alt="logo" class="dark-logo w-[90px] px-[15px] hidden">
    </a>
    <!-- Header Logo End -->
    <button class="navbar-toggler min-[992px]:hidden w-[40px] h-[40px] flex items-center justify-center rounded-[50%] text-[#111a24] border-[1px] border-solid border-[#111a24] text-[1.25rem] bg-transparent" type="button" title="navbar-toggler">
        <i class="ri-menu-2-line"></i>
    </button>
    <div class="bix-main-menu flex relative justify-end max-[991px]:hidden" id="navbarSupportedContent">
        <ul class="navbar-nav m-[0] pl-[0] flex flex-wrap min-[992px]:flex-row">
            <li class="nav-item transition-all duration-[0.3s] ease-in-out ml-[30px]">
                <a class="nav-link transition-all duration-[0.3s] ease-in-out font-montserrat tracking-[0.03rem] p-[0] text-[15px] font-medium leading-[40px] capitalize text-[#1b1c20] flex items-center relative hover:text-[#f41a4a]" href="index.html">Home</a>
            </li>
            <li class="nav-item transition-all duration-[0.3s] ease-in-out ml-[30px]">
                <a class="nav-link transition-all duration-[0.3s] ease-in-out font-montserrat tracking-[0.03rem] p-[0] text-[15px] font-medium leading-[40px] capitalize text-[#1b1c20] flex items-center relative hover:text-[#f41a4a]" href="about.html">About</a>
            </li>
            <li class="nav-item transition-all duration-[0.3s] ease-in-out ml-[30px]">
                <a class="nav-link transition-all duration-[0.3s] ease-in-out font-montserrat tracking-[0.03rem] p-[0] text-[15px] font-medium leading-[40px] capitalize text-[#1b1c20] flex items-center relative hover:text-[#f41a4a]" href="projects.html">projects</a>
            </li>
            <li class="nav-item transition-all duration-[0.3s] ease-in-out ml-[30px]">
                <a class="nav-link transition-all duration-[0.3s] ease-in-out font-montserrat tracking-[0.03rem] p-[0] text-[15px] font-medium leading-[40px] capitalize text-[#1b1c20] flex items-center relative hover:text-[#f41a4a]" href="services.html">Services</a>
            </li>
            <li class="nav-item transition-all duration-[0.3s] ease-in-out ml-[30px]">
                <a class="nav-link transition-all duration-[0.3s] ease-in-out font-montserrat tracking-[0.03rem] p-[0] text-[15px] font-medium leading-[40px] capitalize text-[#1b1c20] flex items-center relative hover:text-[#f41a4a]" href="resume.html">Resume</a>
            </li>
            <li class="nav-item dropdown drop-list transition-all duration-[0.3s] ease-in-out ml-[30px] relative">
                <a class="nav-link dropdown-arrow transition-all duration-[0.3s] ease-in-out font-montserrat tracking-[0.03rem] p-[0] text-[15px] font-medium leading-[40px] capitalize text-[#1b1c20] flex items-center relative hover:text-[#f41a4a]" href="javascript:void(0)">
                    pages
                    <i class="ri-arrow-drop-down-line transition-all duration-[0.3s] ease-in-out mr-[5px] text-[24px] text-[#1b1c20] flex"></i>
                </a>
                <ul class="sub-menu transition-all duration-[0.3s] ease-in-out min-w-[170px] mt-[15px] py-[15px] px-[20px] absolute z-[16] text-left opacity-[0] invisible left-[0] rounded-[5px] right-auto bg-[#fff] block">
                    <li class="py-[5px] block">
                        <a href="single-project.html" class="transition-all duration-[0.3s] ease-in-out font-montserrat tracking-[0.03rem] leading-[20px] font-medium text-[14px] text-[#777] capitalize flex justify-between items-center p-[0] hover:text-[#f41a4a]">Single Project</a>
                    </li>
                    <li class="py-[5px] block">
                        <a href="blog.html" class="transition-all duration-[0.3s] ease-in-out font-montserrat tracking-[0.03rem] leading-[20px] font-medium text-[14px] text-[#777] capitalize flex justify-between items-center p-[0] hover:text-[#f41a4a]">Blog</a>
                    </li>
                    <li class="py-[5px] block">
                        <a href="blog-detail.html" class="transition-all duration-[0.3s] ease-in-out font-montserrat tracking-[0.03rem] leading-[20px] font-medium text-[14px] text-[#777] capitalize flex justify-between items-center p-[0] hover:text-[#f41a4a]">Blog Detail</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>